body{
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}


#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    /* box-shadow: 8px 8px 10px 3px orangered; */
    width: 17%;
    border-radius: 30%;
}

ul {
    margin: 0px;
}
body > header{
    background-color: orange;
    color: rgb(125, 23, 57);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#navbar {
    display: flex;
}

#navbar>li {
    padding: 8px;
    margin: 16px;
}

body>header>nav>ul{
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body>main article {
    width: 70%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content>div {
    width: 70%;
}


form{
    text-align: center;
}
h2{
    text-align: center;
}
body > footer {
    background-color: orange;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul> div>li {
    margin-left: 12px;
    
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}
img{
    border-radius: 20%;
}

