body {
    margin: 0px;
    font-family: sans-serif, arial, "Roboto Condensed";
    background-color: #003566;
}

#rq {
    font-family: sans-serif, "Roboto Condensed" "Roboto Mono";
    
}

#logo {
    background-color: #003566;
    align-items: center;
    color: #ffc300;
    padding: 0px;;
}
#navbar li {
    list-style: none;

}
#navbar li a {
    text-decoration: none;
    color: #ffc300;
}


#title {
    display: flex;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar>li {
    padding: 8px;
    margin: 16px;
    justify-content: center;

}
.image {
    width: 15vw;
    height: auto;
    justify-self: center;
}

.genre {
    background-color: #001d3d;
    color: whitesmoke;

}

#tag {
    /* background-color: #000814; */
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

#heading {
    grid-area: heading;
    
}

#fantasy {
    grid-area: fantasy;
    align-self: center;
}

#six {
    grid-area: six;
    align-self: center;
}
#good-omens {
    grid-area: good-omens;
}
#wind {
    grid-area: wind;
}
#savage {
    grid-area: savage;
}
#scifi {
    grid-area: scifi;
}
#galaxy {
    grid-area: galaxy;
}
#hail_mary {
    grid-area: hail_mary;
}
#planet {
    grid-area: planet;
}
#twenty-one {
    grid-area: twenty-one;
}
#ya {
    grid-area: ya;
}
#ari-dante {
    grid-area: ari-dante;
}
#more {
    grid-area: more;
}
#stop {
    grid-area: stop;
}
#vice {
    grid-area: vice;
}

#grid-container {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "heading heading heading"
    "fantasy scifi ya"
    "six galaxy ari_dante"
    "good_omens hail_mary more"
    "wind planet stop"
    "savage twenty_one vice"
    ;
    
}

/* #grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-rows: auto;
    grid-template-areas: 
        "heading heading heading heading heading"
        "fantasy six good-omens wind savage"
        "scifi galaxy hail-mary planet twenty-one"
        "ya ari-dante more stop vice";
    
}   */

/* #genre_list1 {
    display: flex;
    grid-area: genre_list1;
}
#genre_list2 {
    display: flex;
    grid-area: genre_list2;
}
#genre_list3 {
    display: flex;
    grid-area: genre_list3;
}
.genre .books {
    display: flex;
}
#grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "heading"
    "genre_list1"
    "genre_list2"
    "genre_list3"
    ;
    gap: 10px;
} */